@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body, html {
    padding: 0;
    margin: 0;
    text-align: left;
}

.img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

img {
    width: 100px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.input, .input-errado {
    font-family: 'Permanent Marker', cursive;
    width: 325px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 3px solid black;
    line-height: 24px;
    border-radius: 5px;
}

.button {
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 3px solid black;
    line-height: 24px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: green;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: green;
  }

.input-errado::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }

h3 {
    color: red;
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}